.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

/* cypress */
cypress/integration/2*
cypress/integration/1*
cypress/fixtures/example.json
cypress/support/commands.js
cypress/support/index.js

